.line {
    stroke: blue;
    stroke-width: 0.7px;
    stroke-linecap: square;
}

.handle {
    fill: blue;
    pointer-events: all;
    stroke: blue;
    stroke-width: 2px;
    cursor: move;
    opacity: 0.8;
    filter: drop-shadow(1px 1px 2px #666);
}