@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

:root {
    font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --pure-white: #ffffff;
    --primary-color: #b9c6d2;
    --secondary-color: #d0dde9;
    --tertiary-color: #edf0f8;
    --accent-color: #ff3e00;
    --heading-color: var(--fg-color);
    --text-color: #444444;
    --background-without-opacity: rgba(255, 255, 255, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;

    /* My styles */
    --link-color: rgb(0, 100, 200);
    --link-visited: rgb(1, 82, 164);
    --bg-color: white;
    --bg-color-secondary: #ccc;
    --fg-color: #333;
    --disabled-fg-color: #666;
    --button-bg-color: #e4e4e4;
    --button-fg-color: #333;
    --button-clicked: #ccc;
    --accent-color: #23a8fc;
    --submit-color: #23a8fc;
}

:root[data-theme="dark"] {
    --link-color: aqua;
    --link-visited: #00b0b0;
    --bg-color: #444;
    --fg-color: #eee;
    --disabled-fg-color: #bbb;
    --button-bg-color: #2e2e2e;
    --button-fg-color: #eee;
    --button-clicked: #4a4a4a;
    --accent-color: #caff93;
    --submit-color: #23a8fc;
}

html, body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*height: 100vh;*/
}

body {
    position: relative;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

#svelte {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

@media only screen and (min-width: 768px) {
    #bg-parrallax {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-attachment: fixed;
        background-image: url("/background.jpg");
        background-repeat: repeat;
        z-index: -10;
    }

    #svelte {
        padding: 10px 0;
    }
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

.hcenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.vcenter {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.center {
    text-align: center;
}

.full {
    position: relative;
    min-height: 100%;
    /*width: 100%;*/
}

.sp {
    flex-grow: 1;
}

.button, .blank-button {
    text-align: center;
    user-select: none;
}

.button {
    display: inline-block;
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    padding: 15px;
    margin: 0.5em 0px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    user-select: none;
    box-shadow: 0px 0px 3px #444;
}

.button:hover, .button, .blank-button, .blank-button:hover {
    text-decoration: none;
    cursor: pointer;
}

.button:focus {
    outline: 2px solid var(--button-fg-color)
}

.button:visited {
    color: black;
}

.button:hover {
    font-weight: bold;
    background: var(--button-clicked);
}

.button:active {
    text-decoration: none;
    box-shadow: 0px 0px 10px inset #555;
}

.clear {
    clear: both;
}

.material-icons-round {
    font-size: 1.5em;
    user-select: none;
}

hr {
    border-color: var(--fg-color);
}

.filter-section {
    display: flex;
    flex-direction: column;
    border-left: 0.2em solid var(--accent-color);
    padding-left: 0.5em;
    margin: 0.5em 0;
    padding-bottom: 0.5em;
}

.filter-section h4 {
    margin: 0 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}